<% content.onPage.forEach(item=> { %>
	<% if(item.contentType==='TEXT' ) { %>
		<div class="subTitleText">
			<%= item.title %>
		</div>
		<div class="contentText">
			<%= item.content %>
		</div>
	<% } %>
	<% if(item.contentType==='HTML' ) { %>
		<div class="container">
			<%- item.content %>
		</div>
	<% } %>
	<% if(item.contentType==='IMAGE' ) { %>
		<div class="contentImage" style="background-image: url('<%= item.content %>')">
			<div class="container">
				<% item.title %>
			</div>
			<!-- <image src="<%= item.content %>"></image> -->
		</div>
	<% } %>
<% }); %>