<% const filterItems = (level,parentId=0)=> { %>
  <% if(parentId>0) { %>
      <% return filters.items.filter(item => item.level === level && item.parentId === parentId); %>
  <% } else { %>
      <% return filters.items.filter(item => item.level === level); %>
  <% } %>
<% } %>
<% let items = []; %>
<% let itemGroup = []; %>
<div id="filterPanel" class="filterPanel">
  <div id="R<%= "1" %>"
    data-node-type = "ROW"
    class="filterRow"
  >
    <% items = filterItems(1) %>
    <% items.forEach(item => { %>
      <div id="C<%= item.id %>" 
        data-node-id = "<%= item.id %>" 
        data-node-level = "<%= item.level %>" 
        data-node-name = "<%= item.name %>" 
        data-node-parentId = "<%= item.parentId %>"
        data-node-children = "<%= JSON.stringify(item.children) %>"
        data-node-type = "CHILD"
        class="filterBtn"
      >
      <%= item.name.toUpperCase() %>
      </div>
    <% }) %>
  </div>
  <% filters.levels.forEach(level=> { %>
    <% if (level > 1) { %>
      <div id="R<%= level %>"
        data-node-type = "ROW"
        class="<%= level > 1 ? 'filterRow hideMe' : 'filterRow' %>"
      >
        <% let parentId = 0; %>
        <% items = filterItems(level) %>
        <% items.forEach(item => { %>
          <% if(parentId === item.parentId) { %>
            <div id="C<%= item.id %>" 
              data-node-id = "<%= item.id %>" 
              data-node-level = "<%= item.level %>" 
              data-node-name = "<%= item.name %>" 
              data-node-parentId = "<%= item.parentId %>"
              data-node-children = "<%= JSON.stringify(item.children) %>"
              data-node-type = "CHILD"
              class="filterBtn"
            >
            <%= item.name.toUpperCase() %>
            </div>
          <% } else { %>
            <% itemGroup = filterItems(level,item.parentId) %>
            <% parentId = item.parentId %>
            <div id="P<%= parentId %>"
              data-node-type = "PARENT"
              class="filterRow hideMe"
            >
              <div id="C<%= item.id %>" 
                data-node-id = "<%= item.id %>" 
                data-node-level = "<%= item.level %>" 
                data-node-name = "<%= item.name %>" 
                data-node-parentId = "<%= item.parentId %>"
                data-node-children = "<%= JSON.stringify(item.children) %>"
                data-node-type = "CHILD"
                class="filterBtn"
              >
              <%= item.name.toUpperCase() %>
              </div>
            </div>
          <% } %>  
        <% }) %>
      </div>
    <% } %>
  <% }) %>
</div>

