<% let levels = []  %>
<div id="filterPanel" class="filterPanel">
  <% filters.forEach(item => { %>
    
    <% if (!levels.includes(item.level)) { %>
      <% levels.push(item.level); %>
    <% } %>
    
  <!--     <div id="<%= item.id %>" 
          data-id = "<%= item.id %>" 
          data-level = "<%= item.level %>" 
          data-name = "<%= item.name %>" 
          data-parentId = "<%= item.parentId %>"
          data-children = "<%= JSON.stringify(item.children) %>">
          <%= item.name %>
     </div> -->
  <% }) %>
</div>
<script>
  localStorage.setItem("filterLevels", "<%= levels.length %>");
</script>

