<% const filterItems = (level)=> { %>
  <% return filters.items.filter(item => item.level === level); %>
<% } %>
<% let items = []; %>
<div id="filterPanel" class="filterPanel">
  <% filters.levels.forEach(level=> { %>
    <div id="P<%= level %>"
      data-node-id = "<%= level %>" 
      data-node-level = "<%= level %>" 
      data-node-type = "PARENT"
      class="<%= level > 1 ? 'filterRow hideMe' : 'filterRow' %>"
    >
      <% items = filterItems(level) %>
      <% items.forEach(item => { %>
        <div id="C<%= item.id %>" 
          data-node-id = "<%= item.id %>" 
          data-node-level = "<%= item.level %>" 
          data-node-name = "<%= item.name %>" 
          data-node-parentId = "<%= item.parentId %>"
          data-node-children = "<%= JSON.stringify(item.children) %>"
          data-node-type = "CHILD"
          class="filterBtn"
        >
        <%= item.name.toUpperCase() %>
        </div>
      <% }) %>
    </div>
  <% }) %>
</div>

