<% let id = `${level}:${itemGroups}` %>
<div id="L<%= id %>"
  data-node-type = "PARENT"
  data-node-level = "<%= level %>"
  data-node-parentId = "<%= parentId %>"
  data-node-toggle = "<%= level !== 1 ? true : false %>"
  class="filterRow <%= level !== 1 ? 'hideMe' : '' %>"
>
  <% itemGroup.forEach(node => { %>
    <%- include('../partials/filterNode', { node: node }) %>
  <% }) %>
</div>