<a href="/product/<%= product.id %>" class="productCardLink" data-node-type="product" data-node-id="<%= product.id %>">
  <div class="productCard">
    <div class="productCardName"><%= product.name %></div>
    <div
      class="productCardImage"
      style="background-image: url('<%= product.imageCard %>')"
    ></div>
    <div class="productCardUnitCost"><%= product.formattedCost %></div>
  </div>
</a>
