<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="PJS">
  <meta name="author" content="PJS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/navBar.css" />
  <link rel="stylesheet" type="text/css" href="/iconfont/material-icons.css" />
  <link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/cart.css" />
  <link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />

  <script defer type="text/javascript" src="/js/navBar.js"></script>
  <script defer type="text/javascript" src="/js/validation/user.js"></script>

  <title>PJS</title>
</head>

<body>
  <%- include('../partials/navBar', { loggedIn: loggedIn, itemCount: cart.itemCount}) %>
    <div class="cartContainer">
      <!-- <div style="text-align: center;">New Attempt</div> -->
      <div class="cartCardContainer">
        <% cart.items.forEach(item=> { %>
          <div class="cartCard">
            <div class="cartCardName">
              <%= item.name %>
            </div>
            <div class="cartCardImage" style="background-image: url('<%= item.imageCard %>')">
            </div>
            <div class="cartCardQuantityContainer">
              <form method="POST" class="cartFormLayoutFix" action="/cart/<%= item.id %>/REMOVE?_method=PUT">
                <button class="material-icons 
                          cartCardQuantityBtn
                          cartCardQuantityBtnRemove">remove</button>
              </form>
              <div class="cartCardQuantity">
                <%= item.quantity %>
              </div>
              <form method="POST" class="cartFormLayoutFix" action="/cart/<%= item.id %>/ADD?_method=PUT">
                <button class="material-icons
                        cartCardQuantityBtn
                        cartCardQuantityBtnAdd">add</button>
              </form>
            </div>
            <div class="cartCardCost">
              <%= item.formattedCost %>
            </div>
            <form method="POST" action="/cart/<%= item.id %>?_method=DELETE" class="cartFormLayoutFix cartCardDelete">
              <button class="material-icons cartCardDelete" type="submit">delete</button>
            </form>
          </div>
          <% }); %>
      </div>
      <div>
        <div class="cartTotalsContainer">
          <div class="cartTotals">Total: <%= cart.totalCost %>
          </div>
          <div class="cartTotals">VAT: 20%</div>
          <form method="POST" action="/saveCart?_method=POST">
            <button type="submit" class="cartBtn">Checkout</button>
          </form>
        </div>
      </div>
    </div>
</body>

</html>