<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="PJS" />
    <meta name="author" content="PJS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/navBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/content.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/slideShow.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/iconfont/material-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
    <link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />
    <script defer type="text/javascript" src="/js/navBar.js"></script>
    <script defer type="text/javascript" src="/js/slideShow.js"></script>
    <title><%= settings.projectName %></title>
  </head>

  <body>
    <div id="pageLayoutContainer" class="container">
      <%- include('../partials/navBar', { user: user,navbar: navbar,settings:settings }) %>
      <%- include('../partials/slideShow', { slideShow: slideShow }) %> 
      <%- include('../partials/content', { content: content }) %>
      <%- include('../partials/footer', { footer: footer }) %>
    </div>
    <script>
      document
        .getElementById("pageLayoutContainer")
        .style.setProperty("width", "<%= settings.pageWidthMaxPercentage %>%");
    </script>
  </body>
</html>
