<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="PJS" />
    <meta name="author" content="PJS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/navBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/products.css" />
    <link rel="stylesheet" type="text/css" href="/css/productCard.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/iconfont/material-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
    <link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />
    <script defer type="text/javascript" src="/js/navBar.js"></script>
    <title><%= settings.projectName %></title>
  </head>
  <body>
    <div id="pageLayoutContainer" class="container">
      <%- include('../partials/navBar', { user: user, navbar: navbar, settings:settings }) %>
      <%- include('../partials/filters', { filters: filters }) %>
      <div class="productsContainer">
        <% products.forEach(product=> { %> 
          <%- include('../partials/productCard', { product: product}) %> <% }); %>
      </div>
      <%- include('../partials/footer', { footer: footer }) %>
    </div>
    <script type="text/javascript">
      const sizePage = () => {
        const layoutContainer = document.getElementById("pageLayoutContainer");
        if (layoutContainer) {
          layoutContainer.style.setProperty(
            "width",
            "<%= settings.pageWidthMaxPercentage %>%"
          );
        }
      };
      window.onload = sizePage();
    </script>
  </body>
</html>
