<!DOCTYPE html>
<html lang="en">
  <!--%- include('../partials/head') %-->

  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="description" content="PJS" />
    <meta name="author" content="PJS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/navBar.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/products.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/product.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/productCard.css" />
	<link rel="stylesheet" type="text/css" href="/css/slideShow.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/iconfont/material-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
    <link rel="icon" href="/favicon/favicon.ico?v=2" type="image/x-icon" />

    <!-- <link rel="stylesheet" type="text/css" href="../../node_modules/material-design-icons/iconfont/material-icons.css"> -->
    <script defer type="text/javascript" src="/js/navBar.js"></script>
    <script defer type="text/javascript" src="/js/product.js"></script>
    <script defer type="text/javascript" src="/js/cart.js"></script>
    <title>PJS</title>
  </head>

  <body>
    <%- include('../partials/navBar', { loggedIn: loggedIn, user: user }) %>
    <!-- <div class="container"> -->
    <div class="productWrapper">
      <div id="id" class="hide"><%=product.id %></div>
      <div id="imageURL" class="hide"><%=product.image %></div>
      <div id="name" class="productName"><%=product.name %></div>
      <div
        id="image"
        class="productImage"
        style="background-image: url('<%=product.image %>')"
      >
      </div>
      <div id="description" class="productDescription">
        <%=product.description %>
      </div>
      <div id="unitCost" class="productUnitCost"><%=product.unitCost %></div>
      <div class="addToCartWrapper">
        <button id="addToCart" class="addToCart">Add To Cart</button>
      </div>
    </div>
  </body>
</html>
